@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ***************************** New CSS ***************************** */
/* .about-sec-title:after {
  width: 222px;
  height: 2px;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: radial-gradient(53.83% 2652898.8% at 50% 49.97%, #D6B6FF 0%, rgba(44, 10, 255, 0) 100%);
} */
.sec-title-hr {
  /* width: 222px; */
  width: 222px;
  height: 2px;
  content: "";
  /* position: absolute; */
  /* bottom: 0;
  left: 0;
  right: 0; */
  margin: auto;
  background: radial-gradient(53.83% 2652898.8% at 50% 49.97%, #D6B6FF 0%, rgba(44, 10, 255, 0) 100%);
}

.navbar{
  background-color: black;
  /* justify-content: center !important; */
  /* color: white; */
}
.navbar-link{
  color: white;
}
.contact-div, input{
color: #98a2ff !important;
}